@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  /* padding-bottom: 75px; */
  min-height: 100%;
}
li {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  width: 49%;
  /* background-color: white; */
}
li img {
  width: 55%;
}
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  gap: 2%;
}

div,
li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0, 0, 0, 0.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin-inline: 10px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}

.backgroundImage {
  background-image: url("../asset/Images/sample_menu_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background: center / cover no-repeat url("../asset/Images/sample_key.jpg");
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
}
.key h1 {
  font-size: 2.5rem;
}
.section_title {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.section_container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.section_container p {
  width: 60%;
  text-align: justify;
}

.section_container img {
  width: 35%;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subsection1 {
  display: flex;
  gap: 0;
  height: 300px;
  width: 49%;
}
.subsection1 img {
  width: 55%;
  object-fit: cover;
}
.subsection1 div {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}
.subsection1 div p:last-child {
  text-align: right;
}

#coffeMenuList {
  background-color: #fff;
  display: flex;
}
#coffeMenuList .coffeMenuListItem {
  width: 49%;
}
#coffeMenuList .coffeMenuListItem div {
  display: flex;
  padding: 20px;
  gap: 0;
}
#coffeMenuList .coffeMenuListItem div img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}
#coffeMenuList .coffeMenuListItem div .price {
  display: flex;
  flex-direction: column;
}
iframe {
  width: 100%;
}
.blocInformation {
  margin-left: 80px;
  margin-bottom: 30px;
}
footer {
  margin-top: 30px;
  background-color: #251e19;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 20px;
  height: 75px;
}
footer nav {
  /* width: 100%; */
}
footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer nav ul {
  /* list-style: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}
footer nav ul a {
  color: #fff;
  text-decoration: none;
}
footer nav ul img {
  height: auto;
  object-fit: cover;
}
/* #lastFooterLink {
  position: relative;
  left: -50px;
} */

dt {
  width: 80px;
}
footer p {
  width: 100%;
  text-align: center;
}
